.container{
  background-color: #ffffff;

  width: 600px;
  height: 250px;

  margin: auto;
  margin-top: 2rem;

  overflow-y:auto;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width: 700px){
  .container{
    width: 100%;
    margin-top: 0;
    height: 100%;
  }
}


@media(min-width: 1600px){
  .container{
    height: 400px;
  }
}
