.top-container{
  background-color: #ffffff;

  height: 100px;
  width: 600px;

  margin: auto;
  margin-top: -50px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #f2f4f2;
}

.top-container p{
  font-weight: 400;
}

.top-container .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 100%;
}

.form-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 0.4rem;
}

.form-container div{
  width: 100%;
  height: 100%;
}

#description{
  width: 100%;
  height: 100%;
  border: 0.2rem solid #d0d3d0;
}

.form-container div input[type="text"]
{
  padding: 1rem;
}

.form-container button{
  height: 100%;
  width: 80px;

  margin-left: 0.6rem;
  padding: 0.2rem;

  border: none;

  background-color: rgb(25, 87, 201);
  color: white;

  font-size: 1rem;
}

