.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f2f4f2;
  padding: 1rem;
}

.hide{
  display: none;
}

.container input{
  font-weight: 400;
  font-size: 1rem;
  padding: 0.2rem;
  width: 100%;
}

.input-box{
  width: 100%;
}

.container .actions{
  display: flex;
  justify-content: space-between;
}

.actions .action{
  margin: 0.2rem;
}

.action button{
  border: none;
  color: #2fa0eb;
  background-color: transparent;
}

.box-edit{
  display: flex;
  width: 100%;
  padding: 0.2rem;
  background-color: transparent;
}

input{
  width: 100%;
  padding: 0.2rem;
  margin-left: 0.2rem;
  background-color: transparent;

  border: 0.2rem solid #d0d3d0;
}

.markAsDone{
  position: relative;
}

.markAsDone::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: 2px;
  border-bottom: 1px solid #111;
  width: 100%;
}
