*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height:100%;
}

button{
  cursor: pointer;
  border-radius: 0.2rem;
}

input{
  border-radius: 0.2rem;
}

@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype");
}

h1, h2, h3, p{
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
}
